* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.espacio-entre-grande{
  height: 40px;
}

.body-clases{
  background-image:url("../multimedia/fondo-clases.jpg") ;
  background-size: cover;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

nav {
  height: 75px;
  max-width: 98%;
  position: sticky;
  top: 20px;
  margin-bottom: 20px;
  left: 15px;
  display: flex;
  z-index: 999;
  align-items: center;
  background-color: rgba(66,131, 157, 0.9);
  /* Ajusta el valor de transparencia deseado */
  border-radius: 10px;
  /* Ajusta el valor para los bordes redondos */
}


.logo {
  /* Ajusta el valor para la separación lateral deseada entre el logo y las opciones */
  max-width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  background-color: rgba(66, 131, 157, 0.9);
  display: flex;

}


.logo-img {
  padding: 10px;
  padding-right: 40px;
  max-width: 100%;
  height: 75px;
  text-align: center;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}


nav>ul>li>a {
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
}

.logo>a {
  text-decoration: none;
}

.logo>span>i {
  top: 5px;
  text-decoration: none;
}


nav>ul>li a:hover {
  padding: 9px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.info{
  width: 325px;
}

.expa{
  width:171px;
}

.noti{
  width: 111px;
  margin-right: 30px;
}

.desplegable {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 50px;
}

.buscador{
  display: flow-root;
  margin-left: 100px;
  margin-right: 30px;
  width: 50px;
}

.primer-grupo i{
  font-size: xx-small;
  margin-left: 5px;
}

.cuenta{
  width: 150px;
}

.cuenta i{
  margin-right: 5px;
}

#icon-ajustes{
  margin-right: 10px;
  font-size: large;
}

#icon-registro{
  margin-right: 10px;
  font-size: large;
}

#hu{
  font-size: medium;
}

#ha{
  font-size: xx-small;
  margin-left: 5px;
}

.flex-root{
  display: flow-root;
}

.op2 {
  display: flow-root;
  width: 154px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.op2:hover{
  background-color: rgba(0, 0, 0,0.7);
  border-radius: 10px;
}

.dropdown i{
  font-size: xx-small;
  margin-left: 5px;
}

.op3 {
  display: flow-root;
  width: 140px;
  padding: 10px;
  background-color: rgb(108, 4, 255);
  border-radius: 10px;
  margin-right: 10px;
}

.op3:hover{
  background-color: rgba(108, 4, 255,0.7);
  border-radius: 10px;
}

.iniciar-secion{
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: auto;
  background-color: rgba(11, 96, 130, 1);
  border-radius: 10px;
  text-align: center;
  padding: 0;
}

.dropdown-content-info{
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(11, 96, 130, 1);
  border-radius: 10px;
  padding: 0;
}

.dropdown-item {
  padding: 10px;
  margin: 6px;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-decoration: none;
}

.transfondo{
  margin: 6px;
  display: block;
  color: rgb(19, 5, 5);
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.transfondo-div{
  background-color: rgb(2 43 48);
  height: 88px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.transfondo-edit{
  color: rgba(117, 108, 108, 0.7);
  font-size: medium;
  margin-left: 15px;
  position: relative;
  top: 10px;
  margin-bottom: 10px; 
  font-variant-caps: small-caps;
}
.black-font{
  background-color: rgb(2 43 48);
  width: auto;
}

.dropdown-item:hover{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: white;
  width: auto;
  border-radius: 10px;
}

/* Añadimos una clase 'show' para indicar que las subopciones deben estar visibles */
.dropdown:hover > .dropdown-content,
.dropdown:hover > .dropdown-content-info,
.show {
  display: block;
}

/* Añadimos un retraso de 0.2 segundos antes de ocultar las subopciones */
.dropdown:hover > .dropdown-content,
.dropdown:hover > .dropdown-content-info {
  transition-delay: 0.2s;
}

.dropdown:hover > a {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
}

/* Removemos la clase 'show' cuando el cursor sale de la opción principal o las subopciones */
.dropdown-content,
.dropdown-content-info {
  transition: all 0.2s ease-out;
  opacity: 0;
}

.dropdown:hover > .dropdown-content,
.dropdown:hover > .dropdown-content-info,
.show {
  opacity: 1;
}

.espacio-grande{
  height: 70px;
}

.espacio-peque{
  height: 80px;
}

.alinear-izquierda{
  text-align: left;
  margin-left: 20px;
  width: 70%;
}

.alinear-centro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 97%;

}


.h1-important{
  font-size: 3.2249999999999996rem;
  line-height: 1.5;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #f0f0f0;
  text-shadow: 10px 10px 1px transparent, 0 1px 2px rgba(0,0,0,.9);
  font-weight: 700;
}

.espacio-entre{
  height: 20px;
}

.espacio-entre-largo{
  height: 45px;
}

.parrafo{
  width: 70%;
}

.parrafo-clases{
  width: 70%;
  text-align: center;
}

.parrafo-entre{
  font-size: 1.328rem;
  line-height: 1.5;
  font-family: Arial,Helvetica,sans-serif;
  color: rgb(209 242 255);
  text-shadow: 10px 0 1px transparent, 0 1px 2px rgba(0,0,0,.9);
  font-weight: 400;
}

.link-subrayado{
  font-size: 1.328rem;
  line-height: 1.5;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  color: rgb(209 242 255);
  text-shadow: 10px 0 1px transparent, 0 1px 2px rgba(0,0,0,.9);
  font-weight: 400;
  text-decoration: underline;
}

.botones-parrafo{
  width: 80%;
  font-size: 1.2rem;
}

.btn1{
  display: inline-block;
  background-color: rgba(250, 0, 0, 0.2);
  border: 1px solid red;
  color: #f7b10a;
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
}

.btn1:hover{
  background-color: rgba(255, 6, 6, .8);
}

.btn1-outer{
  border: 1px solid red;
}

.btn1-inner{
  background-color: rgba(255, 6, 6, 0.4);
  border: red;
}

.btn1-label{
  padding: 10px 25px;
}


/*BOTON 2*/

.btn2{
  display: inline-block;
  background-color: rgba(235, 7, 7, 0.2);
  border: 2px solid #c77e19;
  color: #f7b10a;
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
}

.btn2:hover{
  background-color: rgb(187, 136, 43);
}

.btn2-outer{
  border-color: 1px solid #000000;
}

.btn2-inner{
  background-color: rgba(0,0,0,.4);;
  border: rgb(0, 0, 0);
}

.btn2-label{
  padding: 10px;
}

/*background-image: linear-gradient(90deg,#08552a -15.83%,#7df6db 53.7%,#4d9bd0 111.28%);*/

.espacio-huge{
  height: 180px;
}

.contenedor-noticias{
  display: flex;
  margin-left: 20px;
}

.ultimas-noticias{
  line-height: 1.5;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #fff;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  font-weight: 700;
  font-size: larger;
  text-transform: uppercase;
}

.ver-noticias{
  display: flex;
  padding: 0 20px;
}

/*NOTICIAS Y ACTUALIZACIONES*/

.a-noticias{
  color: #f8b700;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  align-self: center;
}

.a-noticias:hover{
  text-decoration: underline;
  text-decoration-color: #f8b700;
}

.contenedor-actualizaciones{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 20px;
}

.espacio-actualizaciones{
  height: 80px;
}

.info-semana{
  margin: 20px;
}

.info-fecha{
  color: #f8b700;
  font-family: fantasy;
  font-size: 1.2rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}

.fecha{
  color: black;
  font-size: medium;
  margin-left: 15px;
  position: relative;
  top: 10px;
  margin-bottom: 10px; 
  font-variant-caps: small-caps;
}

.primer-cuadro-semanal{
  background-image: url(../multimedia/zoro.jpg);
}

.segundo-cuadro-semanal{
  background-image: url(../multimedia/mihack.jpg);
}

.tercer-cuadro-semanal{
  background-image: url(../multimedia/luufy.jpg);
}

.cuarto-cuadro-semanal{
  background-image: url(../multimedia/shanks.jpg);
}

.cuadro-hover{
  background-size: cover;
  border: 2px solid #0f0901;
  width: 25%;
}

.cuadro-hover:hover{
  cursor: pointer;
  border: 2px solid #f8b700;
}

.contenedor-big-info{
  background-color: #000000;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.contenedor-big-a{
  text-decoration: none;
  background-image: url(../multimedia/sao.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  border: 2px solid grey
}

.contenedor-big-a-right{
  text-decoration: none;
  background-image: url(../multimedia/aincrad.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  border: 2px solid grey;
}


.borde-gris:hover{
  border: 2px solid #f8b700;
}

.espace-huge{
  height: 450px;
}

.big-info-centrar-texto{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 147px;
  border-top: 1px solid #504137;
  background: #211510;
}

.big-info-texto{
  padding-top: 15px;
  font-size: 1.08rem;
  line-height: 1.5;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  color: #ebdec2;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.titulo-big-info{
  font-size: 2.2395rem;
  line-height: 1.5;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #f8b700;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  font-weight: 700;
}

.parrafo-big-info{
  font-size: 1.08rem;
  line-height: 1.5;
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  color: #ebdec2;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  font-weight: 400;
}

/* DISEÑO DE CONTENEDORES MEDIANOS FINALES */

.espace-medium{
  height: 395px;
}

.contenedor-mediano{
  background-image: url(../multimedia/onepiece.jpg);
  width: 50%;
  height: 500px;
}

.contenedor-mediano-right{
  background-image: url(../multimedia/espadas.jpg);
  width: 50%;
  height: 500px;
}

.short-info-centrar-texto{
  height: 102px;
  margin-bottom: 0;
}


/* DISEÑO PAGINA CLASES */
.card {
  background: #211510;
  border: 1px solid #504137;
}

.mb-3{
  margin-bottom: 0px !important;
}

.card-img img {
  object-fit: cover;
}

.contenedor-cards {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.card-link {
  width: 50%;
  text-decoration: none;
  margin-right: 15px;
  border: 1px solid black;
}

.card-link:hover{
  border:1px solid #f8b700;
}

.align-items-stretch {
  display: flex;
  align-items: stretch;
  height: 220px;
}

.card-title{
  font-size: 1.4rem;
  text-shadow: none;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #f8b700;
  font-weight: 400;
  padding-bottom: 20px;
}

.card-text{
  line-height: 1.5;
  font-size: 1.10rem;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #fff;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  font-weight: 400;
}

.last-card{
  width: 98%;
}

.text-body-secondary{
  color: #f8b700 !important;
}

/*EMPEZAMOS LA SECCION FINAL DEL INDEZ*/

.contenedor-invitacion{
  width: 100%;
  height: 480px;
  background-image: url(../multimedia/r-arthas-espade.png);
  background-size: cover;
}

.espaciesito{
  background-color: #000000;
  height: 5px;
}

/* CARDS QUE CON TEXTO IZUIQERDA*/

.contenedor-texto-invitacion{
  margin-top: 40px;
  margin-left: 150px;
}

.parrafo-cards{
  width: 55%;
}

.parrafo-entre-cards{
  line-height: 1.5;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    /* color: #ebdec2; */
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    font-weight: 400;
    color: rgb(209 242 255);
    font-size: 1.2rem;
}

.h1-info{
  font-size: 3.2249999999999996rem;
  line-height: 1.5;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #f0f0f0;
  text-shadow: 10px 10px 1px transparent, 0 1px 2px rgba(0,0,0,.9);
  font-weight: 700;
}

/* CARDS CON TEXTO EN LA DERECHA */

.contenedor-texto-invitacion{
  margin-top: 40px;
  margin-left: 150px;
}

.parrafo-cards{
  width: 55%;
}

.parrafo-entre-cards{
  line-height: 1.5;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    /* color: #ebdec2; */
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
    font-weight: 400;
    color: rgb(209 242 255);
    font-size: 1.2rem;
}

.h1-info{
  font-size: 3.2249999999999996rem;
  line-height: 1.5;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  color: #f0f0f0;
  text-shadow: 10px 10px 1px transparent, 0 1px 2px rgba(0,0,0,.9);
  font-weight: 700;
}

/* CARD CON CARTA QUE SE MUESTRA EL TEXTO POR DERECHA*/

.contenedor-invitacion-right{
  width: 100%;
  height: 480px;
  background-image: url(../multimedia/imagen-derecha.png);
  background-size: cover;
  text-align: right;
}

.parrafo-cards-right{
  width: 52%;
  display: inline-block;
}

.contenedor-texto-invitacion-right{
  margin-top: 40px;
  margin-right: 150px;
}

.botones-parrafo-right{
  width: 103%;
  font-size: 1.2rem;
}

/* FOOTER DE LA PAGINA */

.contenedor-social{
  height: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  background-image: url(https://assets.worldofwarcraft.blizzard.com/static/components/Pane/Pane-dirtLight.18def74ed60ab9f1f4139f87349d2f79.jpg)
}

.footer-img{
  width: 15%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(90deg,#08552a -15.83%,#7df6db 53.7%,#4d9bd0 111.28%);
}

.footer-img:hover{
  border: 1px solid yellow;
}

.social-panel{
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ebdec2;
}


.links-social{
  display: table-cell;
  padding: 0 20px;
}

.social-link{
  padding: 0 10px;
}


.links-social a>i{
  font-size: xx-large;
}

.links-social a:hover i {
  color: #ffffff !important;
}

.redes-sociales{
  text-transform: uppercase;
  font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 1.388888rem;
  line-height: 1.5;
  padding: 10px 0;
}

.super-espaciesito{
  background-color: #000000;
  height: 1px;
}


.contenedor-andrez-footer-original{
  height: 500px;
  width: 100%;
  background-color: #211510 ;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.terminos a{
  color: #cdc9c9;
  font-size: 0.8rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
  align-self: center;
}

.aplicacion{
  color: #cdc9c9;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);

}

.terminos-y-condiciones{
  display: flex;
}

.terminos{
  color: #9f9c9c;
  font-size: 0.8rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}

.link-terminos a{
  color: #cdc9c9;
  font-size: 0.8rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}

.requerimientos a{
  color: #ebe9e9;
  font-size: 0.8rem;
  line-height: 1.5;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,.8);
}
